<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <param name="robot_description" command="$(find xacro)/xacro '$(find summit_description)/robot/summit.urdf.xacro' --inorder" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
                args="-urdf -x 0 -y 0 -z 0  -model summit -param robot_description"/>

</launch>